<div class="container">
  <div class="row">
    <div class="col-6">
      <%= link_to "back", cocktails_path %>
      <h1 style="color: white">All our ingredients</h1>
      <ol>
        <% @ingredients.each do |ingredient| %>
          <li style="color: white"><%= ingredient.name %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
